.blood-donor-pagination{
   /* margin: auto; */
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;

}



.blood-donor-pagination ul li a {
    color: white;
    /* height: 100%; */
    /* padding: 10px; */
    /* background-color: pink; */
}
